@charset "UTF-8";

#tweetContainer {
	border-radius: 25px;
    border: 2px solid black;
    background: #99f4f9;
    height:300px;
    width:300px;
}

textarea {
  -webkit-transition: width .35s ease-in-out;
  transition: .35s ease-in-out;
}
textarea:focus {
  width: 300px;
  height:150px;
}

.panel-footer {
	background:white;
}

#commentTable {
	overflow: auto;
	height:500px;
	width: 500px;
}

#comments {
	border-left: thick double black;
}