<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<meta name="google-signin-scope" content="profile email"></meta>
<meta name="google-signin-client_id"
	content="852521934104-53fctdku5insugcv04iejnloqjqjtmot.apps.googleusercontent.com"></meta>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<link href="css/comment.css" rel="stylesheet" />
<link href="css/main.css" rel="stylesheet" />
<script src="https://apis.google.com/js/platform.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="js/comment.js"></script>

<title>Make a comment</title>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Gemal's World</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="/">Home</a></li>
				<li><a href="/store">Store</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><p class="navbar-text" id="nameField" th:text="${name}"></p></li>
				<li><div class="g-signin2" th:text="${name}"
						data-onsuccess="onSignIn" data-theme="dark"></div></li>
			</ul>
		</div>
	</nav>
	<div class="divider" style="height:100px"></div>
	<div class="container" id="tweetContainer">
		<h1 style="margin-top: 50px" th:text="${user}"></h1>
		<span th:text="${body}"></span>
	</div>
	<div class="panel" id="comments">
			<div class="panel-header" style="text-align:center;">
			<h3>Comments</h3>
			</div>
			<div class="panel-body" id="commentTable">
				<table class="table">
					<tr th:each="Comment : ${comments}">
						<td><span style="text-decoration: underline"
							th:text="${Comment.name}"></span> <span
							th:text="${Comment.comment}"></span></td>
					</tr>
				</table>
			</div>
			<div class="panel-footer" style="background:">
				<form action="addcomment" method="post">
					<input type="hidden" th:value="${id}" name="id"></input> <input
					type="hidden" th:value="${name}" name="user"></input> <input
					type="text" required="true" placeholder="Enter Comment*" name="body"></input> <input type="submit" class="btn"
					value="Post Comment"></input>
				</form>
			</div>
	</div>

</body>
</html>