<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<meta name="google-signin-scope" content="profile email"></meta>
<meta name="google-signin-client_id"
	content="852521934104-53fctdku5insugcv04iejnloqjqjtmot.apps.googleusercontent.com"></meta>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<link href="css/comment.css" rel="stylesheet" />
<link href="css/main.css" rel="stylesheet" />
<script src="https://apis.google.com/js/platform.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="js/comment.js"></script>
<script src="js/login.js"></script>

<title>Make a comment</title>
</head>
<body>
	<div th:replace="Header :: Header"></div>
	<div class="divider" style="height:100px"></div>
	<div class="container row">
	<div class="col-sm-3" id="tweetContainer">
		<h1 style="margin-top: 50px" th:text="${user}"></h1>
		<span th:text="${body}"></span>
		<br/>
		<span th:text="${date}" style="font-size:8px; float:right;"></span>
	</div>
			<div id="commentTable" class=" col-sm-7">
				<table class="table">
					<tr th:each="Comment : ${comments}">
						<td><span style="text-decoration: underline"
							th:text="${Comment.name}"></span> <span
							th:text="${Comment.comment}"></span><br/><span
							th:text="*{#calendars.format(Comment.date,'dd MMM yyyy')}" style="font-size:8px; float:right;"></span></td>
					</tr>
				</table>
			</div>
	
	<div class="col-sm-2">
		<form action="addcomment" method="post" id="commentForm"> 
			<input type="hidden" th:value="${id}" name="id"></input> <input
			type="hidden" th:value="${name}" name="user"></input> 
			<textarea name="body" placeholder="Enter Comment*" required="true" form="commentForm"></textarea>
			 <input type="submit" class="btn"
			value="Post Comment"></input>
		</form>
	</div>
	</div>

</body>
</html>