<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"></meta>
<title>Insert title here</title>
<script src="js/main.js"></script>
</head>
<body>
<div th:fragment="Header">
       <th:block layout:fragment="script">
            <script src="js/main.js"></script>
            <link href="css/main.css" rel="stylesheet" />
            </th:block>
	<div id="pictureModal" class="modal fade" role="dialog">
	  	<div class="modal-dialog">
	  		<div class="modal-content">
	  		      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
			        <h4 class="modal-title">Change Picture</h4>
			      </div>
				<div class="modal-body">
					<form method="POST" enctype="multipart/form-data" action="/changePicture">
						<table>
							<tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
							<tr><td></td><td><input type="submit" value="Upload" /></td></tr>
						</table>
					</form>
				</div>
			</div>
		</div>
	</div>
<div th:if="${loggedIn}">
	<div th:replace="Sidebar :: Sidebar">
	</div>
</div>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Gemal's World</a>
			</div>
			<ul class="nav navbar-nav">
				<li th:unless="${!loggedIn}"><a class="glyphicon glyphicon-menu-hamburger" style="height:30px; width:30px;" onclick="openNav()"></a></li>
				<li class="active"><a href="/">Home</a></li>
				<li><a href="/store">Store</a></li>
				<li><a href="/register.html" th:unless="${loggedIn}">register</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><p class="navbar-text" id="nameField" th:text="${name}"></p></li>
				<th:block th:if="${loggedIn}">
					<li th:if="${loggedIn and #lists.size(session.cart.items) > 0}" class="dropdown navbar-text" style="margin-bottom:0px!important;">
						<div class="dropdown-toggle glyphicon glyphicon-shopping-cart" style="position: relative; font-size:25px;" data-toggle="dropdown">
						</div>
				      <ul class="dropdown-menu">
				        <li th:each="item : ${session.cart.items}" th:text="${item.name+' x '+item.quantity}"></li>
				      </ul>
					</li>
				</th:block>
				<li><a href="/logout"  th:unless="${!loggedIn}">logout</a></li>
						        <li class="dropdown">
          <a href="#" class="dropdown-toggle" th:unless="${loggedIn}" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
			<ul id="login-dp" class="dropdown-menu">
				<li>
					 <div class="row">
							<div class="col-md-12">
								Login via
								<div class="social-buttons">
									<div class="g-signin2" th:text="${name}" data-onsuccess="onSignIn" data-theme="dark"></div>
								</div>
                                or
								 <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="loginForm">
										<div class="form-group">
											 <label class="sr-only" for="email">Email address</label>
											 <input type="email" class="form-control" required="true" id="email" name="email" placeholder="Email address"></input>
										</div>
										<div class="form-group">
											 <label class="sr-only" for="password">Password</label>
											 <input type="password" class="form-control" required="true" id="password" name="password" placeholder="Password"></input>
                                             <div class="help-block text-right"><a href="">Forget the password ?</a></div>
										</div>
										<div class="form-group">
											 <button type="submit" class="btn btn-primary btn-block">Sign in</button>
										</div>
										<div class="checkbox">
											 <label>
											 <input type="checkbox" id = "rememberMe"> Remember Email</input>
											 </label>
										</div>
								 </form>
							</div>
							<div class="bottom text-center">
								New here ? <a href="/register.html"><b>Join Us</b></a>
							</div>
					 </div>
				</li>
							</ul>
        </li>
			</ul>
		</div>
	</nav>
		<script>
	var toggled = false;
function openNav() {
	if(toggled) {
		closeNav();
		toggled = false;
		return;
	}
	toggled = true;
    document.getElementById("mySidenav").style.width = "400px";
    $('.wrapper').css('margin-left', '400px');
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    $('.wrapper').css('margin-left', '0px');
    
}
</script>
<style>
body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 20px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 14px;}
}
</style>
</div>
</body>
</html>