<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<script src="https://apis.google.com/js/platform.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta charset="UTF-8"></meta>
<title>Insert title here</title>
</head>
<body>
	<div id="mySidenav" class="sidenav" th:fragment="Sidebar">
	<span style="font-size:100px; text-align: center; margin:auto;" class="glyphicon glyphicon-user"></span>
	<button type="button" class="btn btn-info" data-toggle="modal" data-target="#pictureModal">Change</button>
	<div class="page-header">
		<h3 style="color:white;">Account details</h3>
	</div>
		<span style="color:white" th:text="${'Name: '+fullName}"></span>  <br/>
		<span style="color:white" th:text="${'Email: '+email}"></span><br/>
		<span style="color:white" th:text="*{'Member since: '+#calendars.format(memberSince,'dd MMM, yyyy')}"></span>
		  <div class="dropdown" style="">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Followed Tweets
    <span class="badge" th:text="${#lists.size(followedPosts)}"></span></button>
		<div class="container dropdown-menu well followedTweetPanel">
							<table class="table">
					<tr th:each="post : ${followedPosts}">
						<td>
							<form name="login" action="/comments" method="post">
							<span th:text="${' @' + post.user}"
								style="text-decoration: underline"></span> <span
								th:text="${post.date}" data-toggle="tooltip"
								th:title="${post.body}"></span> <input type="hidden"
								th:value="${post.id}" name="id" /> <input type="hidden"
								th:value="${post.user}" name="user" /> <input type="hidden"
								th:value="${post.body}" name="body" /><input type="hidden"
								th:value="${post.date}" name="date" />  <input type="submit"
								class="btn" value="View"></input>
							</form>
						</td>
					</tr>
				</table>
		</div>
		</div>
				  <div class="dropdown" style="padding-top:100px;">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Previous Orders
    <span class="badge" th:text="${#lists.size(previousOrders)}"></span></button>
		<div class="container dropdown-menu well orderHistoryPanel">
							<table class="table">
					<tr th:each="order : ${previousOrders}">
						<td>
							<form name="orderDetails" action="/OrderDetails" method="post">
								<span th:text="${'Cost: $'+order.total()}"></span>
								<input type="hidden" th:value="${order.ID}" name="orderid" />
								<input type="submit" class="btn" value="Details"></input>
							</form>
						</td>
					</tr>
				</table>
		</div>
		</div>
	</div>
</body>
</html>