<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />

    <title>Gemal's World</title>

    <script src="https://apis.google.com/js/platform.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

    <aside
        id="mySidenav"
        class="sidenav"
        th:fragment="Sidebar"
    >

        <!-- ==================================================
             ACCOUNT
             ================================================== -->

        <section class="sidebar-section">

            <span class="sidebar-eyebrow">
                YOUR ACCOUNT
            </span>

            <h3>Account Details</h3>


            <div class="sidebar-profile">

                <div class="sidebar-avatar">
                    <span class="glyphicon glyphicon-user"></span>
                </div>

                <div>
                    <strong th:text="${fullName}">
                        Gemal Horne
                    </strong>

                    <span th:text="${email}">
                        example@email.com
                    </span>
                </div>

            </div>


            <div class="account-details">

                <div class="account-detail">

                    <span class="glyphicon glyphicon-calendar"></span>

                    <span
                        th:text="*{'Member since ' + #calendars.format(memberSince,'dd MMM, yyyy')}"
                    >
                        Member since 17 Jun, 2017
                    </span>

                </div>

            </div>

        </section>


        <!-- ==================================================
             ORDER HISTORY
             ================================================== -->

        <section class="sidebar-section">

            <span class="sidebar-eyebrow">
                THE KITCHEN
            </span>

            <h3>Order History</h3>


            <div class="order-stats">

                <div class="order-stat">

                    <strong th:text="${#lists.size(previousOrders)}">
                        4
                    </strong>

                    <span>Orders</span>

                </div>


                <div class="order-stat">

                    <strong
                        th:text="${'$' + #numbers.formatDecimal(averageSpent, 0, 'COMMA', 2, 'POINT')}"
                    >
                        $10.24
                    </strong>

                    <span>Average</span>

                </div>


                <div class="order-stat">

                    <strong
                        th:text="${'$' + #numbers.formatDecimal(totalSpent, 0, 'COMMA', 2, 'POINT')}"
                    >
                        $40.96
                    </strong>

                    <span>Total</span>

                </div>

            </div>


            <div class="dropdown">

                <button
                    class="sidebar-button dropdown-toggle"
                    type="button"
                    data-toggle="dropdown"
                >
                    <span class="glyphicon glyphicon-list-alt"></span>
                    View Orders

                    <b class="caret"></b>
                </button>


                <div class="dropdown-menu orderHistoryPanel">

                    <table class="table">

                        <tr>
                            <td>ID</td>
                            <td>Cost</td>
                            <td>Date</td>
                            <td></td>
                        </tr>


                        <tr th:each="order : ${previousOrders}">

                            <td>
                                <span th:text="${order.ID}"></span>
                            </td>

                            <td>
                                <span th:text="${order.total()}"></span>
                            </td>

                            <td>
                                <span th:text="${#dates.format(order.orderDate, 'MMM dd, yyyy')}"></span>
                            </td>

                            <td>

                                <form
                                    name="orderDetails"
                                    action="/OrderDetails"
                                    method="post"
                                >

                                    <input
                                        type="hidden"
                                        th:value="${order.ID}"
                                        name="orderid"
                                    />

                                    <input
                                        type="submit"
                                        class="btn"
                                        value="Details"
                                    />

                                </form>

                            </td>

                        </tr>


                        <tr>

                            <td>
                                Total
                            </td>

                            <td
                                colspan="3"
                                th:text="${'$' + #numbers.formatDecimal(totalSpent, 0, 'COMMA', 2, 'POINT')}"
                            >
                                $0.00
                            </td>

                        </tr>

                    </table>

                </div>

            </div>

        </section>


        <!-- ==================================================
             COMMUNICATIONS
             ================================================== -->

        <section class="sidebar-section">

            <span class="sidebar-eyebrow">
                SOCIAL
            </span>

            <h3>Communications</h3>


            <div class="dropdown">

                <button
                    class="sidebar-button dropdown-toggle"
                    type="button"
                    data-toggle="dropdown"
                >
                    <span class="glyphicon glyphicon-comment"></span>

                    Followed Posts

                    <span
                        class="badge"
                        th:text="${#lists.size(followedPosts)}"
                    >
                        0
                    </span>

                    <b class="caret"></b>

                </button>


                <div class="dropdown-menu followedTweetPanel">

                    <table class="table">

                        <tr th:each="post : ${followedPosts}">

                            <td>

                                <form
                                    name="login"
                                    action="/comments"
                                    method="post"
                                >

                                    <strong th:text="${'@' + post.user}">
                                        @user
                                    </strong>

                                    <br />

                                    <span
                                        th:text="${post.date}"
                                        data-toggle="tooltip"
                                        th:title="${post.body}"
                                    >
                                    </span>


                                    <!-- Preserve original form data -->

                                    <input
                                        type="hidden"
                                        th:value="${post.id}"
                                        name="id"
                                    />

                                    <input
                                        type="hidden"
                                        th:value="${post.user}"
                                        name="user"
                                    />

                                    <input
                                        type="hidden"
                                        th:value="${post.body}"
                                        name="body"
                                    />

                                    <input
                                        type="hidden"
                                        th:value="${post.date}"
                                        name="date"
                                    />


                                    <br />

                                    <input
                                        type="submit"
                                        class="btn"
                                        value="View Discussion"
                                    />

                                </form>

                            </td>

                        </tr>

                    </table>

                </div>

            </div>

        </section>

    </aside>

</body>

</html>